@font-face {
	font-family: "ITC Officina";
	font-weight: bold;
	font-style: italic;
	src: url('../fonts/OfficinaSerif.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/ITC_Officina_Serif_Bold_Italic.ttf') format('truetype');
}
@font-face {
	font-family: "ITC Officina";
	src: url('../fonts/OfficinaSerif.eot') format('embedded-opentype'),
	src: url('../fonts/ITC_Officina_Serif_Bold.ttf') format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: "ITC Officina Book";
	src: url('../fonts/OfficinaSerif.eot') format('embedded-opentype'),
	src: url('../fonts/ITC_Officina_Serif_Book_Italic.ttf') format('truetype');
	font-style: italic;
}
@font-face {
	font-family: "ITC Officina Book";
	src: url('../fonts/OfficinaSerif.eot') format('embedded-opentype'),
	src: url('../fonts/ITC_Officina_Serif_Book.ttf') format('truetype');
}
@font-face {
	font-family: "Newzald";
	src: url('../fonts/newzald-medium.eot') format('embedded-opentype'),
	src: url('../fonts/newzald-medium.ttf') format('truetype');
}
@font-face {
	font-family: "48";
	src: url('../fonts/48.ttf') format('truetype');
}

.max-width {
	margin: auto !important;
	max-width: 75rem !important;
}


#header {
	position: relative;
	max-width: 100%;
}
.container-fixed-header {
	position: fixed; 
	background-color: #f1eeea; 
	width: 100%; 
	z-index: 9999;
}

#logo {
	float: right;
	max-width: 70px;
	margin-top: 4px;
}
#burger {
	margin-top: 61px;
}
#dropdown-menu {
	width: 100%;
	margin-top: 95px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: none;
	z-index: 9999;
	position: fixed;
	background-color: #F1EEEA;
}
#dropdown-menu p {
	margin-left: 10px;
	text-transform: uppercase;
	font-size: 20px;
	color: #2c1313;
	font-family: 'ITC Officina';
	font-weight: bold;
	line-height: 1;
}
.element-d-menu {
	margin-right: 10px !important;
	margin-left: 10px !important;
	padding-top: 5px;
	border-top: 2px solid #FE7633;
}
.element-d-menu.last {
	border-bottom: 2px solid #FE7633;
}

.bold {
	font-weight: bold;
}

.block-header {
	padding-left: 0 !important;
	padding-right: 0 !important;
	line-height: 90px;
}

.block-header:before {
	content: "";
	display: inline-block;
	vertical-align: bottom;
	height: 100%;
}

.block-header p {
	font-size: 20px;
	color: #2c1313;
	font-family: 'ITC Officina';
	font-weight: bold;
	line-height: 1;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: bottom;
	text-transform: uppercase;
	padding-bottom: 0px;
	margin-right: 20px;
}
#slide-show {
	margin-top: 120px;
	padding-top: 20px;
}
#slide-show h1, h3 {
	text-align: center;
}
#slide-show h1 {
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
	font-family: "ITC Officina";
	font-weight: bold;
	color: #aa1b4f;
}
#slide-show h3 {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 20px;
	color: #1a0b0b;
}

#slides {
	display: none;
}

.slidesjs-container,
.slidesjs-control,
#slides {
	min-height: 500px !important;
	max-height: 525px !important;
}
.slide-show {
	height: 500px;
	padding: 50px;
	background-repeat: no-repeat;
	background-position: 70% 50%;
}
.slide-show.un {
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/care-noel-2016/img-slide-1.jpg');
}
.slide-show.deux {
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/care-noel-2016/img-slide-2.jpg');
	display: none;
}
.slide-show.trois {
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/care-noel-2016/img-slide-3.jpg');
	display: none;
	float: none !important;
}
.text-container-slide-show {
	width: 300px;
}
.button-container-slide-show {
	display: inline;
}
.button-container-slide-show img {
	max-width: 234px;
	display: inline-block;
	margin-top: 9px;
}
.titre-slide-show {
	text-transform: uppercase;
}
.titre-slide-show,
.text-slide-show {
	font-family: 'Open Sans';
	color: #FFFFFF;
	font-weight: 700;
	line-height: 1.2;
}
.text-slide-show {
	font-weight: 400;
}
.un .text-slide-show {
	margin-bottom: 140px;
}
.deux .text-slide-show {
	margin-bottom: 80px;
}
.trois .text-slide-show {
	margin-bottom: 100px;
}

.btn-prev {
	display: block;
	position: absolute;
	left: 10px;
	top: 49%;
}
.btn-suiv {
	display: block;
	position: absolute;
	right: 10px;
	top: 49%;
}

.btn-return {
	position: absolute;
	right: 10px;
	bottom: 20px;
}
.btn-return.un {
	bottom: 0;
}

.dessus {
	width: 100%; 
	min-height: 250px; 
	position: absolute; 
	z-index: 8;
}
.dessus.un {
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/care-noel-2016/img-temoignage-1.jpg'); 
}
.dessus.deux {
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/care-noel-2016/img-temoignage-2.jpg'); 
}
.dessus.trois {
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/care-noel-2016/img-temoignage-3.jpg'); 
}

.dessous {
	position: relative; 
	z-index: 7;
	width: 100%; 
	min-height: 250px; 
}
.dessous.un {
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/care-noel-2016/img-temoignage-1-transparent.jpg');
}
.dessous.deux {
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/care-noel-2016/img-temoignage-2-transparent.jpg'); 
}
.dessous.trois {
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/care-noel-2016/img-temoignage-3-transparent.jpg'); 
}

#slide-don {
	background-color: #076177;
	padding: 50px;
	padding-left: 40px;
	padding-right: 40px;
}
#slide-don > *, .box-price > * {
	display: inline-block;
}
#slide-don > h2 {
	color: white;
	font-family: "ITC Officina", serif;
	font-size: 25px;
	line-height: 1;
	text-transform: uppercase;
	max-width: 800px;
	margin-bottom: 40px;
}
.box-container {
	margin-bottom: 30px;
}
.box-price {
	width: 28%;
	display: inline-block;
	max-width: 320px;
	background-color: #f1eeea;
	margin: 1.5%;
	padding: 20px;
	margin-bottom: 20px;
}
.box-price > h3 {
	font-family: "ITC Officina", serif;
	font-size: 70px;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 0px;
}
.box-price > h3 > span {
	font-size: 40px;
	vertical-align: top;
}
.box-price > p {
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 1.4;
}
.box-description {
	font-size: 15px !important;
	margin-bottom: 20px;
}

#slide-reduc {
	text-align: center;
	padding: 40px;
	padding-left: 40px;
	padding-right: 40px;
}

#slide-reduc *{
	display: inline-block;
}

#slide-reduc img {
	margin-bottom: 30px;
}

#slide-reduc h3 {
	color: #076177;
	font-family: "ITC Officina", serif;
	font-size: 25px;
	line-height: 1;
	text-transform: uppercase;
	max-width: 900px;
}

footer {
	text-align: center;
	font-family: 'PT Sans';
	background-color: #2d1313;
	color: white;
	padding-top: 15px;
	padding-bottom: 50px;
}

footer *{
	display: inline-block;
	font-size: 14px;
	margin: 5px;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 1;
}

footer a{
	color: #ffc800;
	text-decoration: underline;
}

footer a:last-child {
	margin-top: 25px;
}

footer .grey{
	color: #656565;
	font-size: 12px;
}

footer .lgrey{
	color: #707070;
}

#slide-bg-jaune {
	padding-top: 20px;
	max-width: 100%;
	background-color: #f89f1f;
}

#slide-bg-jaune h2 {
	color: #2C1313;
	font-family: "ITC Officina";
	font-weight: bold;
	line-height: 1.2;
	text-transform: uppercase;
	font-size: 24px;
}

.box-infos {
	padding: 30px 30px 5px 30px;
}
.box-infos img{
	margin-bottom: 15px;
}
.box-infos p{
	color: white;
	text-transform: uppercase;
	font-family: 'Open Sans';
	font-weight: bold;
}
#slide-bg-white  {
	max-width: 100%;
	background-image: url("https://s3.amazonaws.com/heroku-adfinitas-campaign/care-noel-2016/bg-texture.jpg");
	padding-top: 25px;
	padding-bottom: 25px;
}
#slide-bg-white h2 {
	line-height: 1.2;
	font-size: 28px;
	color: #076177;
	text-transform: uppercase;
	font-family: "ITC Officina";
	font-weight: bold;
}
#slide-bg-white p {
	color: #1a0b0b;
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 18px;
}

#slide-row-infos {
	max-width: 100%;
	padding-top: 50px;
	padding-bottom: 70px;
}

.container-down {
	padding: 20px;
	position: absolute; 
	z-index: 3; 
	overflow: hidden;
}
.container-down p,
.container-down-small p {
	color: #1a0b0b;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 15px;
}

.container-down-small {
	background-color: #e6e0dd;
	padding: 20px;
}

.container-up {
	padding: 20px;
	position: absolute; 
	z-index: 5; 
	overflow: hidden; 
	white-space:nowrap;
	width: 100%;
	height: 100%;
}

.container-up  h2,
.container-down  h2{
	font-size: 20px;
	text-transform: uppercase;
	line-height: 1.2;
	color: #f9781c;
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: italic;
}
.container-up  p:nth-child(2) {
	font-size: 16px;
	line-height: 1.2;
	color: #f9781c;
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
}
.container-up img {
	position: absolute;
	bottom: 30px;
	right: 0;
}



@media only screen and (max-width:730px) {
	.block-header p {
		font-size: 18px;
		margin-right: 5px;
	}
	.block-header p:nth-child(2) {
		margin-right: 0px;
	}
	#header {
		padding-right: 0;
	}
	.box-price {
		width: 45%;
	}
}

@media only screen and (max-width:1160px) {
	.button-container-slide-show img {
		max-width: 100%;
	}
}


@media only screen and (max-width:600px) {
	.box-price {
		width: 90%;
	}
}

@media only screen and (max-width:640px) {
	.dessus.un,
	.dessous.un {
		background-position: 60% 90%;
	}
	.dessus.deux,
	.dessous.deux {
		background-position: 30% 90%;
	}
	.dessus.trois, 
	.dessous.trois {
		background-position: 30% 90%;
	}
	#logo {
		float: none;
	}
}
